:root {
    --spacing: 12px;
    /*
    --blue: #63a5ff;
    --red: #ff8484;
    --blue-filter: invert(100%) invert(80%) sepia(48%) saturate(6188%) hue-rotate(190deg) brightness(101%) contrast(101%);
    --red-filter: invert(100%) invert(69%) sepia(30%) saturate(1577%) hue-rotate(308deg) brightness(102%) contrast(112%);
    */
    /*--blue: #0000ff;
    --red: #943a3a;*/
    --blue: #4c6aff;
    --red: red;
    --blue-filter: invert(100%) invert(41%) sepia(45%) saturate(5617%) hue-rotate(220deg) brightness(101%) contrast(104%);
    --red-filter: invert(100%) invert(12%) sepia(71%) saturate(7476%) hue-rotate(359deg) brightness(108%) contrast(115%);
}

@font-face {
    font-family: pkmndp;
    src: url("./pkmndp.otf");
}
body {
    font-family: pkmndp;
}

@keyframes inputActivation {
    0%, 99.999% {
        background: #555555;
    }
    100% {
        background: #222222;
    }
}

.Input {
    display: flex;
    font-size: 40px;
    height: 50px;
    line-height: 50px;
}
.Input[data-active="true"] {
    animation: inputActivation 0.1s linear;
    animation-fill-mode: forwards;
}
.underline {
    flex-grow: 1;
    padding-top: 35px;
}
.line {
    display: block;
    height: 3px;
    background: #BBBBBB;
}
.underline[data-side="left"] .line {
    margin-right: var(--spacing);
}
.underline[data-side="right"] .line {
    margin-left: var(--spacing);
}
.Input .user {
    text-align: center;
}
.Input .action:first-child {
    margin-left: var(--spacing);
    margin-right: var(--spacing);
    text-align: left;
    color: var(--blue);
}
.Input .action:last-child {
    margin-left: var(--spacing);
    margin-right: var(--spacing);
    text-align: right;
    color: var(--red);
}

.Input .action {
    text-transform: uppercase;
    white-space: nowrap;
}

.Input[data-side="left"] .action:last-child {
    visibility: hidden;
}
.Input[data-side="right"] .action:first-child {
    visibility: hidden;
}
.Input[data-side="left"] .underline[data-side="right"] {
    visibility: hidden;
}
.Input[data-side="right"] .underline[data-side="left"] {
    visibility: hidden;
}
.Input[data-side="left"] .user {
    color: var(--blue);
}
.Input[data-side="right"] .user {
    color: var(--red);
}

body {
    overflow: hidden;
    background: black;
    color: white;
}

.App {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.arrow {
    height: 0.68em;
    vertical-align: baseline;
}
.Input[data-side="left"] .arrow {
    filter: var(--blue-filter);
}
.Input[data-side="right"] .arrow {
    filter: var(--red-filter);
}

.preload-imgs {
    position: absolute;
    opacity: 0.0;
}


.BigCountdown {
    font-size: 48px;
    text-align: center;
}
