:root {
    --spacing: 12px;
    /*
    --blue: #63a5ff;
    --red: #ff8484;
    --blue-filter: invert(100%) invert(80%) sepia(48%) saturate(6188%) hue-rotate(190deg) brightness(101%) contrast(101%);
    --red-filter: invert(100%) invert(69%) sepia(30%) saturate(1577%) hue-rotate(308deg) brightness(102%) contrast(112%);
    */
    /*--blue: #0000ff;
    --red: #943a3a;*/
    --blue: #4c6aff;
    --red: red;
    --blue-filter: invert(100%) invert(41%) sepia(45%) saturate(5617%) hue-rotate(220deg) brightness(101%) contrast(104%);
    --red-filter: invert(100%) invert(12%) sepia(71%) saturate(7476%) hue-rotate(359deg) brightness(108%) contrast(115%);
}

@font-face {
    font-family: pkmndp;
    src: url("./fonts/pkmndp.otf");
}
@font-face {
    font-family: gen1;
    src: url("./fonts/pokered-modern-regular.woff2");
    ascent-override: 102.5%;
}
body {
    font-family: pkmndp;
}

@keyframes inputActivation {
    0%, 99.999% {
        background: #555555;
    }
    100% {
        background: #222222;
    }
}

@keyframes retroInputActivation {
    0%, 99.999% {
        background: white;
    }
    100% {
        background: black;
    }
}

.Input {
    display: flex;
    font-size: 40px;
    height: 50px;
    line-height: 50px;
}
.Input[data-active="true"] {
    animation: inputActivation 0.1s linear;
    animation-fill-mode: forwards;
}
.underline {
    flex-grow: 1;
    padding-top: 35px;
}
.line {
    display: block;
    height: 3px;
    background: #BBBBBB;
}
.underline[data-side="left"] .line {
    margin-right: var(--spacing);
}
.underline[data-side="right"] .line {
    margin-left: var(--spacing);
}
.Input .user {
    text-align: center;
}
.Input .action:first-child {
    margin-left: var(--spacing);
    margin-right: var(--spacing);
    text-align: left;
    color: var(--blue);
}
.Input .action:last-child {
    margin-left: var(--spacing);
    margin-right: var(--spacing);
    text-align: right;
    color: var(--red);
}

.Input .action {
    text-transform: uppercase;
    white-space: nowrap;
}

.Input[data-side="left"] .action:last-child {
    visibility: hidden;
}
.Input[data-side="right"] .action:first-child {
    visibility: hidden;
}
.Input[data-side="left"] .underline[data-side="right"] {
    visibility: hidden;
}
.Input[data-side="right"] .underline[data-side="left"] {
    visibility: hidden;
}
.Input[data-side="left"] .user {
    color: var(--blue);
}
.Input[data-side="right"] .user {
    color: var(--red);
}

body {
    overflow: hidden;
    background: gray;
    color: white;
}

.InputFeed {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.arrow {
    height: 0.68em;
    vertical-align: baseline;
}
.Input[data-side="left"] .arrow {
    filter: var(--blue-filter);
}
.Input[data-side="right"] .arrow {
    filter: var(--red-filter);
}

.preload-imgs {
    position: absolute;
    opacity: 0.0;
}


.BigCountdown {
    font-size: 48px;
    text-align: center;
}

.Input:not([data-side]) .user {
    margin-left: var(--spacing);
}

.Input:not([data-side]) .action {
    color: white;
}

.Input .action span + span:not([data-button="hold"])::before, .Input .action span[data-button="hold"] {
    content:'+';
}

.User {
    display: inline-block;
    white-space: nowrap;
}
.pkmn-badge {
    width: 80px;
    height: 60px;
    image-rendering: pixelated;
    vertical-align: top;
    margin: -8px -10px;
    margin-left: -22px;
    position: relative;
    top: -4px;
    /*filter: drop-shadow(0px 0px 1px white);*/
    transform: scaleX(-1);
}
.pkmn-badge[data-hide="true"], .run-badge[data-hide="true"] {
    visibility: hidden;
}

.Clock, .Timer, .BigCountdown, .RetroTitle {
    position: absolute;
    display: inline-block;
}
.OverlayTest .Clock        {left:32px; top: 400px;}
.OverlayTest .Timer        {left:32px; top: 300px;}
.OverlayTest .BigCountdown {left:32px; top: 200px;}
.OverlayTest .RetroTitle   {left:32px; top: 40px;}

/*.RetroTitle:hover,
.Clock:hover,
.Timer:hover,
.BigCountdown:hover {
    background: green;
}*/

/* Retro theme */
.Clock[data-theme="retro"],
.Timer[data-theme="retro"],
.BigCountdown[data-theme="retro"],
.RetroTitle[data-theme="retro"]
{
    --multiplier: 5;
    --font-size: calc(8px * var(--multiplier));
    font-family: gen1;
    font-size: var(--font-size);
    filter:
        drop-shadow(0px calc(1px * var(--multiplier)) 0px black)
        drop-shadow(0px calc(-1px * var(--multiplier)) 0px black)
        drop-shadow(calc(1px * var(--multiplier)) 0px 0px black)
        drop-shadow(calc(-1px * var(--multiplier)) 0px 0px black);
}
.InputFeed[data-theme="retro"] {
    --multiplier: 5;
    --font-size: calc(8px * var(--multiplier));
    font-family: gen1;
    font-size: var(--font-size);
}
.InputFeed[data-theme="retro"] .user,
.InputFeed[data-theme="retro"] .action
{
    filter:
        drop-shadow(0px calc(1px * var(--multiplier)) 0px black)
        drop-shadow(0px calc(-1px * var(--multiplier)) 0px black)
        drop-shadow(calc(1px * var(--multiplier)) 0px 0px black)
        drop-shadow(calc(-1px * var(--multiplier)) 0px 0px black);
}

.Clock[data-theme="retro"] .inner,
.BigCountdown[data-theme="retro"] .inner,
.Timer[data-theme="retro"] .inner
{
    --multiplier: 5;
    padding-left: calc(1px * var(--multiplier));
}

.InputFeed[data-theme="retro"] {
    font-size: 48px;
    height: 48px;
    line-height: 48px;
}

/* Input feed lowercase in retro mode */
.InputFeed[data-theme="retro"] .Input .action {
    text-transform: lowercase;
}
/* Input feed lowercase in retro mode */
.InputFeed[data-theme="retro"] .line {
    visibility: hidden;
}

.InputFeed[data-theme="retro"] .Input[data-active="true"] {
    animation-name: retroInputActivation;
    /*filter: invert(100%);*/
}
.InputFeed[data-theme="retro"] .Input[data-active="true"]:not([data-side]) .user,
.InputFeed[data-theme="retro"] .Input[data-active="true"]:not([data-side]) .action {
    filter:
        drop-shadow(0px calc(1px * var(--multiplier)) 0px white)
        drop-shadow(0px calc(-1px * var(--multiplier)) 0px white)
        drop-shadow(calc(1px * var(--multiplier)) 0px 0px white)
        drop-shadow(calc(-1px * var(--multiplier)) 0px 0px white);

}

.InputFeed[data-theme="retro"] .Input[data-active="true"] .user,
.InputFeed[data-theme="retro"] .Input[data-active="true"] .action {
    color: black;
}

.InputFeed[data-theme="retro"] .Input[data-active="true"][data-side="left"] .user,
.InputFeed[data-theme="retro"] .Input[data-active="true"][data-side="left"] .action {
    filter:
        drop-shadow(0px calc(1px * var(--multiplier)) 0px var(--blue))
        drop-shadow(0px calc(-1px * var(--multiplier)) 0px var(--blue))
        drop-shadow(calc(1px * var(--multiplier)) 0px 0px var(--blue))
        drop-shadow(calc(-1px * var(--multiplier)) 0px 0px var(--blue));
}

.InputFeed[data-theme="retro"] .Input[data-active="true"][data-side="right"] .user,
.InputFeed[data-theme="retro"] .Input[data-active="true"][data-side="right"] .action {
    filter:
        drop-shadow(0px calc(1px * var(--multiplier)) 0px var(--red))
        drop-shadow(0px calc(-1px * var(--multiplier)) 0px var(--red))
        drop-shadow(calc(1px * var(--multiplier)) 0px 0px var(--red))
        drop-shadow(calc(-1px * var(--multiplier)) 0px 0px var(--red));
}

.InputFeed[data-theme="retro"] .Input[data-side] {
    justify-content: space-between;
}

.InputFeed[data-theme="retro"] .Input[data-side] .action {
    min-width: 5em;
}

/* .InputFeed[data-theme="retro"] .Input[data-side="left"] {
    justify-content: flex-start;
}
.InputFeed[data-theme="retro"] .Input[data-side="right"] {
    justify-content: flex-end;
} */

/* .InputFeed[data-theme="retro"] .Input[data-side="left"] .action:last-child,
.InputFeed[data-theme="retro"] .Input[data-side="right"] .action:first-child {
    font-size: 0;
}

.InputFeed[data-theme="retro"] .Input[data-side="left"] .underline[data-side="right"],
.InputFeed[data-theme="retro"] .Input[data-side="right"] .underline[data-side="left"] {
    min-width: 0;
} */

.InputFeed[data-theme="retro"] .Input {
    flex-flow: row nowrap;
    justify-content: stretch;
}
.InputFeed[data-theme="retro"] .Input .user {
    min-width: 0;
    text-align: left;
    flex: 1 1 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.InputFeed[data-theme="retro"] .Input .underline {
    min-width: .5em;
    flex: 2 1 0;
}
.InputFeed[data-theme="retro"] .Input .action {
    flex: 1 1 auto;
    text-align: right;
    justify-self: flex-end;
}

.InputFeed[data-theme="retro"] .Input .action:first-child {
    text-align: left;
    justify-self: flex-start;
}



/* RetroTitle */
.RetroTitle {
    --multiplier: 5;
    --font-size: calc(8px * var(--multiplier));
    font-size: calc(var(--font-size) * 2);
    line-height: var(--font-size);
    padding-left: calc(1px * var(--multiplier));
    padding-top: calc(1px * var(--multiplier));
    margin-top: 2px;
}
.RetroTitle .title-line-1 {
    white-space: nowrap;
    text-align: center;
    font-size: 125%;
    line-height: 40px;
}
.RetroTitle .title-line-2 {
    white-space: nowrap;
    font-size: 144%;
    text-align: center;
    line-height: 60px;
    margin-top: 16px;
}